@model EntityLayer.Concreate.AppRoles

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" class="form-group" style="margin:10px">
    <label>Role</label>
    <input type="text" class="form-control" asp-for="Name" />
    @if (ViewBag.eror != null)
    {
        <p class="alert-danger">@ViewBag.eror</p>
    }
    <br />
    <button class="btn btn-outline-info">Ekle</button>
</form>

