

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
    <li class="nav-item dropdown">

        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
                <div class="media align-items-center">
                    <span class="avatar avatar-sm rounded-circle">
                    <img alt="Image placeholder" src="@ViewBag.aboutImage">
                    </span>
                    <div class="media-body  ml-2  d-none d-lg-block">
                    <span class="mb-0 text-sm  font-weight-bold">@ViewBag.featureName</span>
                    </div>
                </div>
            
        </a>

        <div class="dropdown-menu  dropdown-menu-right ">
            <div class="dropdown-header noti-title">
                <h6 class="text-overflow m-0">Hoşgeldiniz.</h6>
            </div>
            <a href="/Admin/Dashborad/Index" class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span>DashBoard</span>
            </a>
            <a href="/Admin/Profile/Index" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>Ayarlar</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="/Admin/Login/SingOut" class="dropdown-item">
                <i class="ni ni-user-run"></i>
                <span>Çıkış</span>
            </a>
        </div>
    </li>
</ul>
