
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="scrolltop"><a class="btn btn-secondary" href="#top"><span class="icon"><i class="fas fa-angle-up fa-x"></i></span></a></div>
<script src="~/Template/scripts/imagesloaded.pkgd.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/masonry.pkgd.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/BigPicture.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/purecounter.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/bootstrap.bundle.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/aos.min.js?ver=1.2.0"></script>
<script src="~/Template/scripts/main.js?ver=1.2.0"></script>