
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<footer class="pt-4 pb-4 text-center bg-light">
    <div class="container">
        <div class="my-3">
            <div class="h4">Selim Alp Kamil</div>

            @await Component.InvokeAsync("SocialMediaFooter")

            <p>
                <a href="/Admin/Login/Index">Kullanıcı Girişi</a>
            </p>

        </div>
        <div class="text-small text-secondary">
            <div class="mb-1">Tüm Haklar Saklıdır</div>
         
        </div>
    </div>
</footer>