@model IEnumerable<EntityLayer.Concreate.SocialMedia>


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="social-nav" data-aos="fade-up" data-aos-delay="200">
    <nav role="navigation">
        <ul class="nav justify-content-left">
            @foreach(var x in Model)
            {
                <li class="nav-item"><a class="nav-link" href="@x.SocialMediaURL" title="@x.SocialMediaName"><i class="@x.SocialMediaIcon"></i><span class="menu-title sr-only">@x.SocialMediaName</span></a></li>
            }
            
        </ul>
    </nav>
</div>
