
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">


        <div class="navbar-inner">
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Nav items -->
                <ul class="navbar-nav">

                    @if (TempData["dashboardActive"] == "active")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Dashborad/Index">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/USer/Dashborad/Index">
                                <i class="ni ni-tv-2 text-primary"></i>
                                <span class="nav-link-text">Dashboard</span>
                            </a>
                        </li>
                    }


                    @if (TempData["SenderActive"] == "active"){
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Message/SenderMessage">
                                <i class="ni ni-bag-17 text-primary"></i>
                                <span class="nav-link-text">Gönderilen Mesajlar</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/User/Message/SenderMessage">
                                <i class="ni ni-bag-17 text-primary"></i>
                                <span class="nav-link-text">Gönderilen Mesajlar</span>
                            </a>
                        </li>
                        
                    }

                    @if (TempData["RecevirActive"] == "active")
                    {
                        <li class="nav-item">
                            <a class="nav-link active " href="/User/Message/RecevirMessage">
                                <i class="ni ni-bag-17 text-red"></i>
                                <span class="nav-link-text">Gelen Mesaj</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/User/Message/RecevirMessage">
                                <i class="ni ni-bag-17 text-red"></i>
                                <span class="nav-link-text">Gelen Mesaj</span>
                            </a>
                        </li>
                    }


                    @if (TempData["testimonialActive"] == "active")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Testimonial/AddTestimonial">
                                <i class="ni ni-user-run text-brown"></i>
                                <span class="nav-link-text">Referans Ekle</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " href="/User/Testimonial/AddTestimonial">
                                <i class="ni ni-user-run text-brown"></i>
                                <span class="nav-link-text">Referans Ekle</span>
                            </a>
                        </li>
                    }
                    

                    @if (TempData["announcemntActive"] == "active")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Announcement/Index">
                                <i class="ni ni-app text-blue"></i>
                                <span class="nav-link-text">Duyuru</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Announcement/Index">
                                <i class="ni ni-app text-blue"></i>
                                <span class="nav-link-text">Duyuru</span>
                            </a>
                        </li>
                    }
                    @if (TempData["profileActive"] == "active")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" href="/User/Profile/Index">
                                <i class="ni ni-settings text-pink"></i>
                                <span class="nav-link-text">Ayarlar</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="/User/Profile/Index">
                                <i class="ni ni-settings text-pink"></i>
                                <span class="nav-link-text">Ayarlar</span>
                            </a>
                        </li>
                    }


                    <li class="nav-item">
                        <a class="nav-link" href="/Admin/Login/SingOut">
                            <i class="ni ni-fat-remove text-purple"></i>
                            <span class="nav-link-text">Çıkış</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
