@model IEnumerable<EntityLayer.Concreate.Contact>

@{
    ViewData["Title"] = "PasifMessage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count() > 0)
{
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>İsim</th>
            <th>Mail</th>
            <th>Başlık</th>
            <th>Detay</th>
            <th>Okunmadı</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ContactId</td>
                <td>
                    @x.ContactName
                </td>
                <td>
                    @x.ContactMail
                </td>
                <td>@x.ContactSubject</td>
                <td>
                    <a href="/Admin/Contact/DetailContact/@x.ContactId" class="btn btn-outline-info">Detay</a>
                </td>
                <td>
                    <a href="/Admin/Contact/ChangeStatusActive/@x.ContactId" class="btn btn-outline-danger">Okunmadı Olarak İşaretle</a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>Gösterilecek mesaj yok</h2>
}

<a style="margin-top:20px; margin-bottom:20px" href="/Admin/Contact/Index" class="btn btn-outline-primary">Okunmayan Mesajlar</a>

