@model IEnumerable<EntityLayer.Concreate.Skill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<Table class="table table-bordred">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Değer</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var x in Model)
    {
        <tr>
            <td>@x.SkillID</td>
            <td>@x.SkillName</td>
            <td>@x.SkillValue</td>
            <td>
                <a hred="#" href="/Admin/Skill/DeleteSkill/@x.SkillID" class="btn btn-outline-danger">Sil</a>
            </td>
            <td>
                <a hred="#" href="/Admin/Skill/UppdateSkill/@x.SkillID" class="btn btn-outline-warning">Güncelle</a>
            </td>
        </tr>
    }

</Table>

<a style="margin-top:20px; margin-bottom:20px" href="/Admin/Skill/AddSkill" class="btn btn-outline-primary">Ekle</a>

